{% extends 'base.html' %}

{% block head_title %}
Home!
{% endblock head_title %}

{% block content %}

<h1 class='text-center'>Welcome to the Home page !</h1> 
<br>

<div id='tweets'>
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById('tweets')
    var finalTweetStr = ''

    const xhr = new XMLHttpRequest()
    const method = 'GET' //'POST' IS ALSO THERE
    const url = '/list'
    const responseType = 'json'

    xhr.responseType = responseType
    function handleDidLike(tweet_id,tweet_likes)
    {
        console.log(tweet_id,tweet_likes)
    }
    function likeButton(tweet) 
    {
            return '<button class="btn btn-primary btn-sm" onclick=handleDidLike('+tweet.id+','+tweet.likes+')>'+tweet.likes+' Likes</button>'
        }

    function eachTweet(ListedItem)
    {
        return '<div class="jumbotron"><h1 class="display-4">'+ListedItem.content+'</h1>\<hr class="my-4">\<a class="btn btn-primary btn-sm" href="#" role="button">'+likeButton(ListedItem)+'</a></div>'
    }
    
    xhr.open(method, url)
    xhr.onload = function () {
        // console.log(xhr.response)
    const serverResponse = xhr.response
    var ListedItems = serverResponse.response

    for (let i = 0; i < ListedItems.length; i++) {
        let current = eachTweet(ListedItems[i])
        finalTweetStr += current
    }
    console.log(ListedItems)
    console.log(finalTweetStr)
    tweetsElement.innerHTML = finalTweetStr
    
    }
    
    xhr.send()

</script>

{% endblock content %}