{% extends 'base.html'%}
{%block content %}
<h1>Type your Tweet!</h1>
<div class='row'>
    <div class='col-md-4 mx-auto col-10 pt-5'>
        <form class='form' action="/create_tweet" method="post">{% csrf_token %}
            <input type="hidden" name="next"  value="/">
            <textarea class="form-control" name='content' placeholder="your text"></textarea>
            <button class='btn btn-primary mt-2' type="submit">Tweet</button>
        </form>
    </div>
</div>
{% endblock content %}